[submodule "info-admin-frontend"]
	path = info-admin-frontend
	url = https://github.com/sunmoonlion/info-admin-frontend.git
[submodule "info-web-frontend"]
	path = info-web-frontend
	url = https://github.com/sunmoonlion/info-web-frontend.git
[submodule "info-backend"]
	path = info-backend
	url = https://github.com/sunmoonlion/info-backend.git
